
// Navbar and nav tweaks

.navbar-default input {
  color: #eee;
}

.navbar-brand img {
  margin-top: -3px;
}

.alert a {
  color: inherit !important;
}

input.form-control {
  border: 0;
  outline: none;
  box-shadow: none;
  border-bottom: 3px solid;
  &:focus {
    box-shadow: none;
 }
}

.well {
  color: #eee;
}
